#root {
  background-color: var( --body-background);
}

body {
  margin: 0;
  margin: 0;
  font-family: rubik,Arial,Helvetica,sans-serif;
  // font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI",  "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-background);
  text-align: left;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


.theme_icon {
   color: currentcolor;
    cursor: pointer;
    margin: 0.2rem;
    outline-color: var(--icon-color);
    padding: 0.4rem;
    position: relative;
    transition: opacity .25s;
    vertical-align: middle;
    z-index: 1;
    svg {
      fill: currentcolor;
      display: block;
      height: 1.6rem;
      width: 1.6rem;
    }
}


.fixed_theme_button {
  position: fixed;
  right: 0;
  width: 200px;
  height: 100px;
  
}


// 主题类型定义
:root {

  // 页面背景色

  --primary-color: #5020a8;
  --secondary-color: #6d508b;

  --body-background: #fff;
  --body-background-shaded: #f7f7f7;
  // --body-background-light: #fff;
  --body-background-faded: rgba(255,255,255,0.93);

  --button-color: #7f6699;
  --button-background: #ede8f2;
  --button-background-hover: #e0d8e9;
  --button-background-active: #d3c8df;
  --button-background-disabled: #ede8f2;

  --button-primary-color: #fff;
  --button-primary-background: #5020a8;
  --button-primary-background-hover: #461c93;
  --button-primary-background-active: #3c187d;
  --button-primary-background-disabled: #5020a8;


  --alert-background: #fff2ae;
  --alert-color: #ad6c00;
  --alert-error-background: #d83e3e;
  --alert-error-color: #fff;
  --alert-success-background: #b4f1af;
  --alert-success-color: #33722d;

  --badge-background: #7c7c7c;
  --badge-color: #fff;
  --badge-hidden-background: #888;
  

  --switch-on-color: #58a400;
  --switch-off-color: #d0021b;

  --enabled-color: #2ECC40;
  --disabled-color: #FF4136;


  --error-color: #d83e3e;
  --text-color: #19141f;
  --link-color: #4d16b2;

  --avatar-background: #ede8f2;

}

:root[data-color_scheme = 'dark'] {

  --primary-color: #5020a8;
  --secondary-color: #6d508b;

  --body-background: #19141f;
  --body-background-shaded: #140e19;
  // --body-background-light: #2a1f37;
  --body-background-faded: rgba(25,20,31,0.93);


  --button-color: #7fba00;
  --button-background: #3c3c3c;
  --button-background-hover: #4a4a4a;
  --button-background-active: #292929;
  --button-background-disabled: #3c3c3c;

  --button-primary-color: #fff;
  --button-primary-background: #5020a8;
  --button-primary-background-hover: #461c93;
  --button-primary-background-active: #3c187d;
  --button-primary-background-disabled: #5020a8;

  --alert-background: #292929;
  --alert-color: #7fba00;
  --alert-error-background: #d83e3e;
  --alert-error-color: #fff;
  --alert-success-background: #3c3c3c;
  --alert-success-color: #7fba00;


  --badge-color: #fff;
  --badge-background: #7c7c7c;
  --badge-hidden-background: #888;


  --switch-on-color: #58a400;
  --switch-off-color: #d0021b;

  --enabled-color: #2ECC40;
  --disabled-color: #FF4136;

  --error-color: #d83e3e;
  --text-color: #fff;
  --link-color: #7fba00;

  --avatar-background: #3c3c3c;

}